body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.image-container {
    overflow: hidden;
}

img {
    max-width: 100%;
    max-height: 100vh;
    width: auto;
    height: auto;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

img.zoomed {
    transform: scale(1.5);
}